<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseURL" value="https://otx.alienvault.com" />
    <add key="APIKey" value="96e493a64ea73f7af266576765143c60ace434a380346934a66780b7f6601a3f" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.125 Safari/537.36" />
    <add key="ObjectLimit" value="20" />
    <add key="ObjectLimitPerRequest" value="5" />
  </appSettings>
</configuration>
